.App {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

.buttons {
  margin: 24px 24px 0 0;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.logOut {
  border-radius: 1000px;
  background-color: darkorchid;
  font-weight: bold;
  width: 40px;
  height: 40px;
  color: #fff;
  border-style: none;
  display: none;
  margin-left: 54px;
}

.img-container {
  margin-bottom: 0;
}
